body {
  overflow: hidden;
}

.main-table-wrap {
  font-family: Menlo, Monaco;
  font-size: 0.8rem;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.table-wrap-div {
  flex: 1;
  overflow: auto;
}

/* https://stackoverflow.com/questions/50361698/border-style-do-not-work-with-sticky-position-element */
.table-wrap-div table {
  margin-bottom: 0;
  border-collapse: separate;
  border-spacing: 0;
}

.table-wrap-div thead tr {
  position: sticky;
  top: 0;
}

.main-table-wrap table th {
  border-top: 1px solid rgb(222, 226, 230);
  border-bottom: 1px solid rgb(222, 226, 230);
  border-right: 1px solid rgb(222, 226, 230);
}

.main-table-wrap table td {
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid rgb(222, 226, 230);
  border-right: 1px solid rgb(222, 226, 230);
}

.main-table-wrap table th:last-child,
.main-table-wrap table td:last-child {
  border-right: 0;
}

.top-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
}

.main-table-wrap tbody tr.tr-selected td {
  background-color: rgb(35, 118, 229);
  color: white;
}

.main-table-wrap tbody tr.tr-wait-intercept td {
  background-color: rgb(216, 110, 83);
  color: white;
}

.main-table-wrap tbody tr.tr-wait-warn {
  background-color: rgb(255, 243, 205);
}

.flow-detail {
  position: fixed;
  top: 51px;
  right: 0;

  border-top: 2px solid rgb(222, 226, 230);
  height: calc(100vh - 51px);
  background-color: #fff;
  overflow-y: auto;

  word-break: break-all;
  border-left: 2px solid #dee2e6;
}

.flow-detail .header-tabs {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 25px 0 5px 25px;
}

.flow-detail .header-tabs > div {
  margin-top: 10px;
}

.flow-detail .header-tabs span {
  display: inline-block;
  line-height: 1;
  padding: 8px;
  cursor: pointer;
}

.flow-detail .header-tabs .selected {
  border-bottom: 2px rgb(35, 118, 229) solid;
}

.flow-detail .header-tabs .flow-wait-area button {
  margin-right: 10px;
}

.flow-detail .header-block {
  margin-bottom: 20px;
}

.flow-detail .header-block > p {
  font-weight: bold;
}

.flow-detail .header-block .header-block-content p {
  margin: 5px 0;
}

.flow-detail .header-block .header-block-content {
  margin-left: 20px;
  line-height: 1.5;
}

.flow-detail .request-body-detail span {
  display: inline-block;
  line-height: 1;
  padding: 8px;
  cursor: pointer;
}

.flow-detail .request-body-detail .selected {
  border-bottom: 2px rgb(35, 118, 229) solid;
}
