.main-table-wrap {
  font-family: Menlo,Monaco;
  font-size: 0.8rem;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.table-wrap-div {
  flex: 1;
  overflow: auto;
  border-top: 1px solid rgb(222, 226, 230);
}

.table-wrap-div .table>:not(:first-child) {
  border-top: 0 solid rgb(222, 226, 230);
}

.table-wrap-div .table {
  margin-bottom: 0;
}

/* https://codepen.io/Ray-H/pen/bMedLL */
.table-wrap-div thead tr {
  border-width: 0;
  background-color: white;
  position: sticky;
  top: 0;
  background: linear-gradient(to top,rgb(33, 37, 41), rgb(33, 37, 41) 2px, white 1px, white 100%);
}

.main-table-wrap table td {
  overflow: hidden;
  white-space: nowrap;
}

.top-control {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
}

.top-control > div {
  margin-right: 20px;
}


.main-table-wrap tbody tr.tr-selected {
  background-color: rgb(35, 118, 229);
  color: white;
}

.main-table-wrap tbody tr.tr-wait-intercept {
  background-color: rgb(216, 110, 83);
  color: white;
}

.flow-detail {
  position: fixed;
  top: 0;
  right: 0;

  height: 100vh;
  background-color: #fff;
  min-width: 500px;
  width: 50%;
  overflow-y: auto;

  word-break: break-all;
  border-left: 2px solid #dee2e6;
}

.flow-detail .header-tabs {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 5px 0;
}

.flow-detail .header-tabs span {
  display: inline-block;
  line-height: 1;
  padding: 8px;
  cursor: pointer;
}

.flow-detail .header-tabs .selected {
  border-bottom: 2px rgb(35, 118, 229) solid;
}

.flow-detail .header-tabs .flow-wait-area button {
  margin-left: 10px;
}

.flow-detail .header-block {
  margin-bottom: 20px;
}

.flow-detail .header-block > p {
  font-weight: bold;
}

.flow-detail .header-block .header-block-content p {
  margin: 5px 0;
}

.flow-detail .header-block .header-block-content {
  margin-left: 20px;
  line-height: 1.5;
}

.flow-detail .request-body-detail span {
  display: inline-block;
  line-height: 1;
  padding: 8px;
  cursor: pointer;
}

.flow-detail .request-body-detail .selected {
  border-bottom: 2px rgb(35, 118, 229) solid;
}
